{% extends 'actualites/base.html' %}

    {% block mission %}
        <div class = container id="corps">
            <p >La Radio Moto Oicha a pour but :<br/>

                -	Assurer par la radio une information impartiale, utile et professionnelle sur des sujets relatifs notamment à l’annonce de la Bonne Nouvelle de Jésus Christ,<br/>
                 au développement économique et social, à la sécurité des personnes et des biens, à la bonne gouvernance, à la protection de l’environnement et du genre,<br/> 
                 et au respect des droits humains à travers des éditions en français et en langues locales écoutées et parlées dans la zone d’écoute, <br/>
                 liées à ce statut dans le strict respect des règles et normes de déontologie régissant les médias en RDC et dans le strict respect de la loi y afférente en vigueur dans notre pays ;<br/>
                -	La production et la diffusion des programmes spécialisés et spécifiques dans le respect des normes de la radio ;<br/>
                -	Contribuer à l’essor du débat démocratique  à l’instauration d’un Etat de droit;<br/>
                -	Contacter des partenaires nationaux et internationaux intervenant dans le même domaine et avec les mêmes missions que la radio dans le but de conjuguer les efforts, <br/>
                et ainsi aboutir à des résultats concluants et convaincants.<br/>
                En fait, la Radio Moto Oicha , est un instrument de pastorale diocésaine, est essentiellement un lieu d’évangélisation et de communication. <br/>
                Conformément aux articles 3 et 4 de nos statuts, elle s’attèle à l’annonce de la Bonne Nouvelle de Jésus-Christ, et vise la promotion religieuse, humaine et culturelle de tous.<br/>
                Elle veut dire Dieu et contribuer à la promotion de l’homme : contribuer à la paix et à l’unité à travers la bonne information et la connaissance mutuelle, <br/>
                dénoncer les situations d’injustice qui divisent la population, identifier les racines des violences et des conflits, former à une conscience chrétienne commune au sein de l’église particulière de Butembo-Beni. <br/>
                Trouver un lieu de témoignages pour les chrétiens qui voudraient rendre compte de la manière dont la foi marque leur vie, permettre une communication entre les communautés paroissiales, chrétiennes ; <br/>
                assurer une communication entre les radios clubs dans les paroisses.<br/> 
                Ainsi, la Radio Moto est un canal d’information et de conscientisation, un interlocuteur social et communautaire des populations des territoires de Lubero et de Beni est un instrument au  service du développement et <br/>
                de la paix grâce à son programme d’information, de formation et d’accompagnement de la population. <br/>
                La Radio Moto apparaît comme une radio éducative, culturelle, libre d’inspiration catholique sans but lucratif et sans appartenance politique. <br/>
                Elle se dévoue au service de la vérité. Cette dernière est avant tout une vérité sur l’homme comme disait le Pape Jean-Paul II.<br/>
                Nous nous appuyons sur des fermes convictions ; nous cherchons à dire la vérité même si elle va à contre-courant ; <br/>
                nous faisons entendre, y compris dans le domaine moral, l’enseignement de l’Eglise. <br/>
                En accomplissant notre mission fondamentale d’informer, de former, de divertir …, nous ne disons pas ce qui plaît à ceux et celles qui auraient des intérêts égoïstes ; <br/>
                nous ne soutenons point ce qui est incompatible avec la foi chrétienne. <br/>
                Notre volonté est d’imprégner nos auditeurs d’un esprit chrétien. Nous cherchons à former, à affermir et à promouvoir des opinions chrétiennes, <br/>
                nous cherchons à diffuser loyalement les nouvelles sur l’Eglise et expliquer la doctrine chrétienne.<br/> 
                Entre les infos qui pleuvent, nous faisons un tri, tout en privilégiant l’info locale. Nous nous efforçons d’informer avec objectivé, vérité et respect des personnes. <br/>
                Nos infos ne s’écartent pas des règles du bon sens humain et chrétien. <br/>
                Nos diffusions répondent à la triple règle de la vérité, de la morale et du bien de l’auditeur, à la lumière de l’enseignement de l’Eglise Catholique.<br/> 
                Généraliste, la Radio Moto touche différents types d’auditeurs, selon les émissions et les tranches horaires : <br/>
                des émissions quotidiennes ou hebdomadaires sur la foi chrétienne et son expression, des émissions sur la culture, le développement, la santé, l’éducation ; les infos locales, nationales et internationales ; les chants religieux et ceux profanes ayant une leçon morale.</p>
        </div>
    {% endblock %}