{% extends 'actualites/base.html' %}

{% block contenue %} 

	<!--LE SLIDE-->
	<div class = container id="corps">
		<div class = "Carousel slide" data-ride = "carousel" >
			<div class = "carousel-inner ">
				<div class = "carousel-item">
					<h1> carousel</h1>
						<!--div class="card" style="width: 18rem;"->
						{% for articleSlide in articleSlides %}
							<!-div class ="card-img-top  card-img-top-300"-->
								<img class="active" src="{{ articleSlide.imageArticle }}" alt="...">
								
							<!--div class="card-body">
								</div>
								<h5 class="card-title">{{articleSlide.titre}}</h5>
								<a href="#" class="btn btn-primary">come here</a>
							</div>
						{% endfor%}
						</div-->
					
				</div>
			</div>
		</div>
	</div>
	<!--LES DERNIERS ARTICLES-->
	<div class = "row col-md-12">
		
		<div class = "row col-md-2" style="margin-right: 1%; border: 0.5px solid gray; border-radius: 1%;">
			
				<div class="panel">
					<div class="panel-header text-black" style="padding-top: 2%;">
						<h5 class="panel-title">CATEGORIES</h5>	
					</div>
					<div class="panel-body">
                        <ol class="navbar-nav ">
							{% for cat in Categorie  %}
							<li class="nav-item">
								<a class="nav-link" href="">{{ cat.nomCat }}</a> 
							</li>
							{% endfor %}
						</ol>
					</div>
				</div>
		</div>

		<div class="panel col-lg-10 col-md-6" >
			<div class="panel-header bg-secondary text-white " style="padding-inline-start: 1%;">
				<h4 class="panel-title">LES PLUS RECENTS </h4>	
			</div>
			<div class="row ">
				{% for dernier in derniers %}
					<div class="panel-body ">
						<div class="col col-lg-6 col-md-3">
							<div class="card" style="width: 18rem;">
								<div class="card-body">
									{% if dernier.imageArticle %}
    									<img src="{{dernier.imageArticle.url}}" alt="{{dernier.titre}}" style="width: 200px; height: 200px;">
										<p class="card-title">{{dernier.titre}}</p>
										<p class="card-text">{{dernier.corps_du_texte|truncatewords_html:16}}</p>
										<h3><a href="{% url 'lire' dernier.id %}">lire la suite</a></h3>
									{% else %}
										<p class="card-title">{{dernier.titre}}</p>
										<p class="card-text">{{dernier.corps_du_texte|truncatewords_html:16}}</p>
										<h3><a href="{% url 'lire' dernier.id %}">lire la suite</a></h3>
									{% endif %}
								</div>
							</div>
						</div>
					</div>	
				{% endfor %}
			</div>
		
		</div>
	
	</div>
	<div class = "container" >
		<div class="panel-header bg-secondary text-white " style="margin-top : 2%">
			<h4 class="panel-title">TOUS LES ARTICLES</h4>
		</div>
		<div class="row">
			{% for articles in article %}
				<div class="panel-body ">
					<div class="col">
						<div class="card" style="width: 18rem;">
							{% if articles.imageArticle %}
								<img src="{{articles.imageArticle.url}}" class="card-img-top" alt="{{articles.source.image}}">
								<div class="card-body">
									<h5 class="card-title">{{articles.titre}}</h5>
									<p class="card-text">{{articles.corps_du_texte |truncatewords_html:25 }}</p>
									<h3><a href="{% url 'lire' articles.id %}">lire la suite</a></h3>
								</div>
								{% else %}
								<div class="card-body">
									<h5 class="card-title">{{articles.titre}}</h5>
									<p class="card-text">{{articles.corps_du_texte |truncatewords_html:25 }}</p>
									<h3><a href="{% url 'lire' articles.id %}">lire la suite</a></h3>
								</div>
							{% endif %}
						</div>
					</div>	
				</div>
				
			{% endfor %}
		</div>
	
	</div> 

			
{% endblock %}
